<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
</head>

<body>
    <br><br>
    <h1 align='center'>New form submission on <%= payload.date %>
    </h1>
    <h3 align='center'>mailto: <%= payload.from %></h3>
    <h3 align='center'>Name: <%= payload.name %></h3>
    <h3 align='center'>Subject: <%= payload.subject %></h3>
    <h3 align='center'>Message: <%= payload.message %></h3>

</body>

</html>